/* IMPORT DE FUENTES GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,900;1,400;1,900&family=Poly:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;900&display=swap');
/* FONT FAMILY */
/* 
    font-family: 'Overlock', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif; 
*/

/* 
    Rojo:     #ff1a1a;
    Blanco:   #EDF2F6;
    Azul:     #3a83f0;
    Gris:     #494953;
*/



header {
    background-color: #3a83f0;
    height: auto;
}


.nav-link {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #EDF2F6;
}

#Rayo {
    font-family: 'Overlock', cursive;
    font-weight: 900;
    font-size: 22px;
    color: #EDF2F6;
    margin-left: 12px;
}

.ImgLogo {
    margin-left: 5%;
    width: 65px;
    align-items: center;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.bot-stl {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: #ff1a1a;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #EDF2F6;
}

.bot-stl:hover {
    background-color: #EDF2F6;
    border: none;
    color: #ff1a1a;
    transition: 0.5s;
}

.bot-stl:active {
    background-color: #3a83f0 !important;
    border: none;
    box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.445);
    transition: 30ms;
}



/* CARRUSEL */



.carousel-indicators>button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 100%;
}

@media (max-width:768px) {
    .carousel-item {
        height: 300px !important;
        object-fit: cover;
    }
}

@media (max-width:992px) {
    .carousel-item {
        height: 300px !important;
        object-fit: cover;
    }
}

.c-item {
    height: 700px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}